<h1>Rechenmodul für explizit gegebene Stichproben</h1>

<form id="inputValues">
    <input type="text" id="numSequence" placeholder="Zahlenreihe"> 
    oder 
    <input type="button" id="importFile" value="Datei auswählen">
    <br>
    <input type="number" id="meanDeviation" placeholder="Mittlere absolute Abweichung">
    <br>


    <h2>Art der Stichprobe</h2>


<!--
    <input type="radio" id="explSample" name="sampleType" value="explicit"> 
    <label for="explSample">Explizite Stichprobe</label>
    
    <input type="radio" id="absSample" name="sampleType" value="absolute"> 
    <label for="absSample">Absolute Stichprobe</label>
-->    

    <br>
    <input type="submit" id="show" value="Anzeigen">
</form>

<br>

<div class="radioLine">
    <div class="radioContainer">
        <label class="radioBtn"> 
            <input type="radio" id="explSample" name="sampleType" value="explicit" checked>
            <span class="checkmark"></span>
        </label>
        <div>
            <span class="radioLabel">explizite Häufigkeitsverteilung</span>
        </div>
    </div>
    <div class="radioContainer">
        <label class="radioBtn"> 
            <input type="radio" id="absSample" name="sampleType" value="absolute">
            <span class="checkmark"></span>
        </label>
        <div class="radioLabel">
            <span>absolute Häufigkeitsverteilung</span>
        </div>
    </div>
</div>
    




