<!--Ich glaube die ID kann entfernt werden durch das "#"-->
<form id="inputValues" [formGroup]="inputForm">

    <h2>Eingabe:</h2>
    <P>Die Stichprobe ist explizit (Stichprobenumfang ≤ 100, höchstens 30 verschiedene Werte aus ℝ) oder als absolute Häufigkeitsverteilung (Stichprobenumfang ≤ 100, höchstens 30 verschiedene Werte aus ℝ) anzugeben (manuell oder per csv.-Datei):</P>
    
    <input type="text" formControlName="numSequence" id="numSequence" placeholder="Zahlenreihe"> 
    oder 
    <input type="button" id="importFile" value="Datei auswählen">
    <br>

    <p>Bitte wählen Sie aus, ob es sich um eine explizite Stichprobe oder eine absolute Häufigkeitsverteilung handelt:</p>

    <input type="radio" formControlName="sampleType" id="explSample" name="sampleType" value="explicit"> 
    <label for="explSample">Explizite Stichprobe</label>
    <input type="radio" formControlName="sampleType" id="absSample" name="sampleType" value="absolute"> 
    <label for="absSample">Absolute Stichprobe</label>
    <br>
    <p>Wert z für die Berechnung der mittlleren absoluten Abweichung:</p>

    <input type="text" formControlName="valueZInput" id="valueZInput" name="valueZInput" placeholder="(Wert Z)">
    <br> <br>
    <input type="submit" id="show" value="Anzeigen" (click)="openDialog()">
</form>

