  input{
      width: 200px;
      height: 60px;
      font-size: 20;
      font-weight: light;
    }
  
  input.closeButton{
    background-color: #000000;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana;
    font-style: Bold;
    font-size: 25at;
    padding: 0;
    border: none;  
    position: relative;
    right: -80%;
    bottom:-80%;
  }
