<form id="inputValues" [formGroup]="inputForm">

    <h2>Eingabe:</h2>
    <P>Die Stichprobe ist explizit (Stichprobenumfang ≤ 100, höchstens 30 verschiedene Werte aus ℝ) oder als absolute Häufigkeitsverteilung (Stichprobenumfang ≤ 100, höchstens 30 verschiedene Werte aus ℝ) anzugeben (manuell oder per csv.-Datei):</P>
    
    <input type="text" formControlName="numSequence" id="numSequence" placeholder="Zahlenreihe" required> 
    oder 
    <input class="Button1" type="button" id="importFile" value="(.csv-Datei auswählen)">
    <br>

    <p>Bitte wählen Sie aus, ob es sich um eine explizite Stichprobe oder eine absolute Häufigkeitsverteilung handelt:</p>

    <div class="radioLine">
        <div class="radioContainer">
            <label class="radioBtn"> 
                <input type="radio" id="explSample" formControlName="sampleType" name="sampleType" value="explizit">
                <span class="checkmark"></span>
            </label>
            <div>
                <span class="radioLabel">explizite Häufigkeitsverteilung</span>
            </div>
        </div>
        <div class="radioContainer">
            <label class="radioBtn"> 
                <input type="radio" id="absSample" formControlName="sampleType" name="sampleType" value="absolut">
                <span class="checkmark"></span>
            </label>
            <div class="radioLabel">
                <span>absolute Häufigkeitsverteilung</span>
            </div>
        </div>
    </div>
  
    <br>

    <p>Wert z für die Berechnung der mittlleren absoluten Abweichung:</p>

    <input type="number" formControlName="valueZInput" id="valueZInput" name="valueZInput" placeholder="(Wert Z)" required>
    <br> <br>
    <input type="submit" id="delete" value="Löschen" class="Button1" (click)="openDeleteDialog()">
    <input type="submit" id="show" value="Starten" class="Button1" (click)="openDialog()">
</form>
