:host {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

input.Button1 {
    left: 70%;
    margin-right: 2%;
}

input#importFile {
    display: none;
    height: 37px;
    width: 320px;
}

input#loadFile {
    background-color: black;
    color: white;
    font-style: italic;
    height: 40px;
    left: 0%;
    margin-bottom: 20px;
    width: 340px;
}

input.table1 {
    border: 3px;
    height: 60px;
    width: 100%;
}

input.Button2 {
    background-color: white;
    border: 1px darkgray;
    border-radius: 50%;
    color: grey;
    float: right;
    font-size: 30px;
    margin-right: 5px;
    max-width: 40px;
    max-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

input.Button3 {
    background-color: white;
    border: 1px darkgray;
    border-radius: 50%;
    color: grey;
    float: right;
    font-size: 30px;
    margin-right: 5px;
    max-width: 40px;
    max-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.radioBtn {
    align-items: center;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 13px;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    width: 13px;
}

.radioBtn input {
    display: none;
}

.radioBtn .checkmark {
    background: white;
    border-radius: 50%;
    display: inline-block;
    height: calc(100% - 6px);
    opacity: 0;
    transition: opacity 0.3s ease;
    width: calc(100% - 6px);
}

.radioBtn input:checked+span.checkmark {
    background-color: black;
    height: 9px;
    opacity: 1;
    width: 9px;
}

.radioContainer {
    height: 75px;
    margin: 15px 60px 15px 5px;
    text-align: center;
    width: auto;
}

.radioLine {
    display: inline-flex;
    margin-bottom: 35px;
    margin-top: 5px;
}

.radioLabel {
    display: block;
    margin-left: 16px;
    margin-right: 0px;
    margin-top: 10px;
    width: 150px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
}

table {
    padding: 1px;
    table-layout: fixed;
    width: 100%;
}

th {
    background-color: lightgray;
    border: none;
    border-inline: 3px lightgray;
    height: 60px;
    max-width: 100%;
}

td {
    height: 60px;
    max-width: 100%;
}

tr {
    height: 60px;
}

h3#head3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1%;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
}

#numSequence {
    margin-bottom: 25px;
}

#buttonLine {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

#delete {
    margin-bottom: 30px;
}