/* Eingabefeld */

input {
    box-sizing: border-box;
    font-size: 20;
    font-weight: light;
    height: 40px;
    text-align: center;
    width: 340px;
}

/* Löschen/Starten Button */

input.Button1, button {
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size: 25at;
    font-style: Bold;
    height: 30px;
    padding: 0;
    position: relative;
    width: 110px;
}

mat-dialog-content {
    width: 50vw;
}