<form [formGroup]="ergebnisseFormGroup" id="view2CalculatedValues">
    <h2>Ausgabe:</h2>
    <div id="listOfCalculatedValues" class="outputFlexContainer">
        <div class="outputFlexElement">
            <div class="outputLabel">Modalwert:</div>
            <input type="text" id="modalValue" value="Modalwert" readonly>
        </div>
        <div class="outputFlexElement">
            <div class="outputLabel">Mittelwert:</div>
            <input type="text" id="meanValue" value="(Mittelwert)" readonly>
        </div>
        <div class="outputFlexElement">
            <div class="outputLabel">Median:</div>
            <input type="text" id="medianValue" value="(Median)" readonly>
        </div>
        <div class="outputFlexElement">
            <div class="outputLabel">Varianz:</div>
            <input type="text" id="varianceValue" value="(Varianz)" readonly>
        </div>
        <div class="outputFlexElement">
            <div class="outputLabel">Standardabweichung:</div>
            <input type="text" id="standardDeviation" value="(Standardabweichung)" readonly>
        </div>
        <div class="outputFlexElement">
            <div class="outputLabel">Gini-Koeffizient:</div>
            <input type="text" id="giniValue" value="(Gini-Koeffizient)" readonly>
        </div>
    </div>
    <div id="tableQuantile" class="outputFlexContainer">
        <div class="outputFlexElement">
            <div class="outputLabel">Quantil x<sub>0,05</sub>:</div>
            <input type="text" id="quantil005" value="(Qunatil0,05)" readonly>
        </div>
        
        <div class="outputFlexElement">
            <div class="outputLabel">Quantil x<sub>0,1</sub>:</div>
            <input type="text" id="quantil01" value="(Qunatil0,1)" readonly>
        </div>
        
        <div class="outputFlexElement">
            <div class="outputLabel">Quantil x<sub>0,25</sub>:</div>
            <input type="text" id="quantil025" value="(Qunatil0,25)" readonly>
        </div>
        
        <div class="outputFlexElement">
            <div class="outputLabel">Quantil x<sub>0,75</sub>:</div>
            <input type="text" id="quantil075" value="(Qunatil0,75)" readonly>
        </div>
        
        <div class="outputFlexElement">
            <div class="outputLabel">Quantil x<sub>0,9</sub>:</div>
            <input type="text" id="quantil09" value="(Qunatil0,9)" readonly>
        </div>
        
        <div class="outputFlexElement">
            <div class="outputLabel">Quantil x<sub>0,95</sub>:</div>
            <input type="text" id="quantil095" value="(Qunatil0,95)" readonly>
        </div>
        <div class="outputFlexElement">
            <div class="outputLabel">Mittlere absolute Abweichung (Wert Z):</div>
            <input type="text" id="meanAbsoluteDeviation" value="(Wert Z)" readonly>
        </div>
    </div>
    
    <div id="4HorsemenOfCharts">
        <app-four-charts></app-four-charts>
    </div>
</form>

<!--Neue Eingabe der Daten-->
<input class="Button1" type="button" id="return" value="Zurück" (click)="goBackToCalculator()">








