/* CSS Formatierung für den Div der Klasse "Header" */
.header{

    height: 8%;
    width:100%;
    z-index:10;
    position: relative;
    margin-top: 2%;
    margin-bottom: comp(1000px, 2%, 500px);
    box-shadow: 0 8px 7px -5px lightgray;
}

/* CSS Formatierung des Buttons der Klasse "H1" (Gleichzeitig Überschrift, als auch Button im Header) */
button.h1{

    background: white;
    border: 0px;
    font-size: 24px;
    float:left;
    padding:0;
    margin:0;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    position: absolute;
    bottom:50px; 
  }

/* CSS Formatierung der Überschrift H2 aus dem Header */
h2{

    font-size: 15px;
    font-weight: lighter;
    padding:0;
    text-align:right;
    margin-right: 10%;
  }