/* CSS Formatierung für den Div der Klasse "Header" */

.header {
  box-shadow: 0 8px 7px -5px lightgray;
  height: calc(120px - 5vw);
  margin-bottom: 2%;
  margin-top: 3%;
  min-height: 70px;
  position: relative;
  width: 100%;
}

/* CSS Formatierung des Buttons der Klasse "H1" (Gleichzeitig Überschrift, als auch Button im Header) */

button.h1 {
  background: white;
  border: 0px;
  color: black;
  float: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10%;
  margin-right: 50%;
  margin-top: 0;
  max-width: 40%;
  padding: 0;
  position: absolute;
  width: auto;
  outline: none;
}

/* CSS Formatierung der Überschrift H2 aus dem Header */

h2 {
  font-size: 15px;
  font-weight: lighter;
  margin-left: 50%;
  margin-right: 10%;
  padding: 0;
  text-align: right;
}