# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\WI 5 Semester\Projektrealisierung 1\Projekt\StatisticsCalculator\statisticsCalculatorSeleniumTesting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
